/* Светлая тема */
.page.theme_light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color: #353430;
  --backgroung-image: url(../images/cover-image-light.png);
}

/* Скрываем декоративный элемент в светлой теме */
.page.theme_light .decorative__element {
  display: none;
}

/* Стили кнопок в светлой теме */
.page.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.4);
}

/* Автоматическая тема по системным настройкам */
@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color: #353430;
    --backgroung-image: url(../images/cover-image-light.png);
  }
  
  /* Скрываем REC в автоматической светлой теме */
  .decorative__element {
    display: none;
  }
  
  /* Стили кнопок при автоматической теме */
  .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.4);
  }
}

/* Стили для больших экранов */
@media (min-width: 1024px) {
  .header__title,
  .footer__title {
    text-shadow: 4px 4px 0 #FF0070;
  }
}
