.page {
  margin: 0 auto;
  padding: 0;
  font-family: var(--font, monospace);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background: var(--backgroung-image) center/cover fixed;
}

/* Шапка сайта */
.header {
  position: relative;
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

/* кнопки выбора темы */
.header__theme-menu-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  padding: 0 13px;
  border: none;
  background: transparent;
  color: var(--btn-color);
  text-align: center;
}

/* Состояния кнопок */
.header__theme-menu-button_active {
  border: 1px solid var(--btn-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

/* REC */
.decorative__element {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 8px;
  margin: 20px;
  color: var(--btn-color);
  text-transform: uppercase;
}

/* кружочек REC */
.decorative__element::after {
  content: "";
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

/* рамки */
.frame::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
}

.frame::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
}

/* Основной заголовок */
.header__title {
  margin-left: -20px;
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* Стиль для выделенных заголовков */
.title-decor {
  color: var(--sub-text-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

.header__text {
  align-self: center;
  justify-self: end;
  max-inline-size: 491px;
  max-block-size: 71px;
}

/* Общие стили секций */
.question__section-title {
  color: var(--btn-color);
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.question__section-answer-text {
  color: var(--text-color);
  font-size: var(--font-size);
}

/* Стили ссылок */
.question__section-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section-answer-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.question__section-answer-link:focus {
  outline: none;
}

.question__section-answer-link:focus-visible {
  border: 1px solid var(--text-color);
}

/* почему сложно сосредоточиться */
.question__section__one {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 20px;
  padding-block-start: 60px;
}

.question__section-answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question__section-answer p:first-of-type {
  padding-block-end: 10px;
}

/* что снижает концентрацию */
.question__section-two {
  margin: 0 20px;
  padding-block: 80px;
}

.question__section-title-two {
  max-inline-size: 315px;
}

.question__section-answer-two-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-block-start: 20px;
}

.question__section-answer-title-two {
  margin-block-end: 10px;
}

/* советы по концентрации */
.question__section__fhree {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 20px;
  padding-block-end: 80px;
}

.question__section-answer-fhree {
  display: grid;
  gap: 20px;
}


.question__section-answer-subtitle {
  font-weight: 400;
}

.question__section-answer-text-fhree {
  padding-block-start: 10px;
}

/* галерея изображений */
.question__section__image {
  padding-block-end: 60px;
}

.question__section-title-image {
  margin: 0 20px 20px;
}

.question__section__image-container {
  display: grid;
  gap: 20px;
  margin: 0 20px;
  grid-template-areas: inherit;
}

.question__section__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

/* изображения в гриде */
.question__section__image-item:first-of-type {
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question__section__image-item:last-of-type {
  grid-column: 2 / 4;
}

/* футер сайта */
.footer {
  position: relative;
  min-block-size: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  color: var(--title-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

/* для планшетов ( <=768) */
@media (max-width:768px) {
  .header__theme-menu {
    justify-content: flex-end;
    display: flex;
  }

  .header__theme-menu-list {
    align-items: flex-end;
    flex-direction: column;
    display: flex;
    gap: 13px;
  }

  .header__text {
    max-block-size: 117px;
    max-inline-size: 364px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .question__section__one {
    gap: 20px;
    grid-template-columns: 33% 67%;
    padding-inline-end:20px;
  }

  .question__section-answer-two-container {
    flex-direction: column;
    display: flex;
    gap: 20px;
    padding-block-start: 20px;
  }

  .question__section-title-two {
    max-inline-size: 236px;
  }
  
  .question__section__fhree {
    grid-template-columns: 35% 65%;
    display: grid;
    padding-block-end: 80px;
  }  
 
  .footer {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}

/* для телефонов ( <=365) */
@media (max-width: 365px) {
 .header {
  padding: 10px;
}

.header__title {
  margin-left: 0px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__text {
  max-inline-size: 355px;
  max-block-size: 117px;
}  

.question__section__one {
  margin: 0px 10px;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.question__section-two {
  margin: 0 10px;
  padding-block-start: 50px;
  padding-inline-end: 0;
  padding-block-end: 50px;
}

.question__section-title-two {
  min-inline-size: 100%; 
  max-inline-size: none; 
}

.question__section-answer-two-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 20px;
}

.question__section__fhree {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 50px;
}

.question__section__image {
  padding: 0 0 40px 0;
}

.question__section-title-image {
  margin: 0 10px 10px 10px;
}

.question__section__image-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
} 

.footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }
  
  .frame::before {
    margin: 10px;
  }
  
  .frame::after {
    margin: 10px;
    block-size: 25px; 
  }
}
